.DS_Store
*.swp
*.pyc
*.tmp
*.log

# Ignore vim's binary spelling files, vim will rebuild them when loading the
# spelling file
*.spl

vim/.netrwhist
vim/plugged
vim/bundle
vim/black
vim/autoload/plug.vim.old
